*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --color-fondo-formulario:rgb(240, 240, 240);
}
/***************************************************************************************/
footer div{
    background: #2F3B49;
    font-size: .8vw;
    color: white;
}
.p_footer{
    display: flex;
    height: 4vw;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.p_footer p{
    margin:0;
    font-family: 'IBM Plex Mono', monospace;
}
/***************************************************************************************/
.cabecera{
    background: rgb(26, 26, 26);
    /* background: #2A3542; */
    display: flex;
}
.banner{/*banner superior*/
    /*poner en blanco*/
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cont-usuario{
    /* background: red; */
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.usuario{
    display: flex;
    align-items: center;
    background: rgb(47, 59, 73);
    padding: .8vw;
    margin: .3vw;
    border-radius: .8vw; 
    margin-right: .8vw;
    transition: background .4s;
}
.usuario:hover{
    background: rgb(140, 144, 148);
    cursor: pointer;
}
.usuario span{
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
    border: .15vw white solid;
    border-radius: .5vw;
}
.usuario p{
    text-align: center;
    font-size: 1vw;
    color: rgb(255, 255, 255);
    margin:0px;
    margin-left: .4vw;
    font-weight: bold;
}
.l_upein{/*LOGO DE LA UNIVERSIDAD*/
    display: block;
    width: 4vw;
    height: 4vw;
    margin: .5vw;
    margin-left: .4vw;
}
.p_p p{
    display: block;
    margin: 0px;
    color:white;
    text-align: center;
    height: 1.5vw;
}
.p_upein{/*nombre de la universidad en el banner*/
    display: flex;
    align-items: flex-end;
    font-size: 1.5vw;
}
.p_otro{
    font-size: 1.2vw; 
}

/***************************************************************************************/
.contenedor{
    padding: 0;
    margin: auto; 
    background: var(--color-fondo-formulario);
}
.container{/*contenedor de la tabla*/
    background: white;
    width: 95%;
    /* padding: 1vw 4vw; */
    min-height: 100vh;
    border-radius: .7vw;
    margin: 1vw auto;
}
/***************************************************************************************/

/********************************************************************************/
#slider{
    height: 100vh;
}
#bienvenido{
    height: 100%;
    width: 100%;
}
.lado1{
    width: 18vw;
    background: rgb(23, 29, 36);
}
.lado2{
    width: 82vw;
    /* background: grey; */
}
/*--------------------------------------------------------------------------------*/
.half {
    width: 18vw;
  }
  /* Acordeon styles */
  .tab,.tabI {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;
  }
  .tab input,.tabI input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab label,.tabI label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
  }
  .blue label,.blueI label {
    background: #2980b9;
  }
  .blueI label {
    background: #194e70;
  }
  .tab-content,.tabI-contentI {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
  }
  .blue .tab-content,.blueI .tabI-contentI {
    background: #3498db;
  }
  .blueI .tabI-contentI {
    background: #16425f;
  }
  .tab-content p,.tabI-contentI p {
    margin: 1em;
  }
  /* :checked */
  .tab input:checked ~ .tab-content,.tabI input:checked ~ .tabI-contentI {
    max-height: 100vh;
  }
  /* Icon */
  .tab label::after,.tabI label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  .tab input[type=radio] + label::after,.tabI input[type=radio] + label::after {
    content: "\25BC";
  }
  .tab input[type=radio]:checked + label::after,.tabI input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
  }